/* forms
 * ====================================================================
 */

// form defaults
form {
	ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	li {
	clear: both;
	padding: 0;
	}
}

.full,
.wide,
.half,
.small {
	box-sizing: border-box;
	float: left;
	clear: none;

	input {
	box-sizing: border-box;
	width: 100%
	}
}

.full {
	width: 100%;
}
.wide {
	width: 73%;
}
.wide + .small {
	margin-left: 4%;
}
.half {
	width: 48%;
}
.half + .half {
	margin-left: 4%;
}
.half:nth-child(2n) {
	margin-left: 0;
}
.half.nl {
	float: none;
	clear: both;
	margin-left: 0;
}
.small {
	width: 23%;
	font-size: 1em;
}
.small + .wide {
	margin-left: 4%;
}

// input.input-tiny {
//   width: 50px;
// }
// input.input-small {
//   width: 100px;
// }
// input.input-medium {
//   width: 150px;
// }
// input.input-large {
//   width: 200px;
// }
// input.input-xlarge {
//   width: 250px;
// }
// input.input-xxlarge {
//   width: 300px;
// }
// input.input-full {
//   width: 100%;
// }


$form_placeholder_prefixes: (
	'::-webkit-input-placeholder',
	':-moz-placeholder',
	'::-moz-placeholder',
	':-ms-input-placeholder',
	'::-ms-input-placeholder',
	'::placeholder',
	':placeholder-shown' );
@each $prefix in $form_placeholder_prefixes {

	input[placeholder]#{$prefix},
	textarea[placeholder]#{$prefix} {
		color: $darkergrey;
		opacity: 1;
		text-overflow: ellipsis;
	}
	input[placeholder]:focus#{$prefix},
	textarea[placeholder]:focus#{$prefix} {
		color: transparent !important;
	}
}



fieldset {

	fieldset {
		margin: 0 2%;

		&.options {
			margin: 0 5% 2%;
		}
	}

	&.options {
		margin: 0 4%;
	}
	&.half + .half {
		margin-left: 4%;
	}

	sup {
		//font-size: 1.2em;
		top: -0.2em;
		cursor: help;
	}
}

label {
	padding: 0;
	margin: 0;
	//text-align: right;
	color: inherit;
	position: relative;

	.label {
		@extend label;
		display: block;
		cursor: inherit;
		text-align: right;

		label {
			float: none;
			margin: 0;
			width: auto;
		}
	}
}

//[type="submit"]
[type="text"],
[type="number"],
[type="tel"],
[type="email"],
[type="url"],
[type="date"],
[type="password"],
[type="search"],
[type="button"],
textarea,
button {
	//width: 100%;
	font-size: 16px;
	padding: 0.5em;
	border: 1px solid $grey;
	color: $black;
	background-color: $white;

	border-radius: 0;
	box-shadow: none;
	line-height: 1.3;

	// remove iOS shadow
	appearance: none;
}

input,
textarea {

	&:focus {
		box-shadow: 0 0 0 1px $darkgrey;
		color: $black;
		outline: none;

		@if($old-ie) {
			outline: 1px solid $darkgrey;
		}
	}
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
	@extend %reset-button;
	display: inline-block;
	//vertical-align: middle;
}

[type="date"] {
	-webkit-min-logical-height: $button-size;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// [type="checkbox"],
// [type="radio"] {
// 	float: none;
// 	display: inline-block;
// 	text-align: left;
// 	width: inherit;
// 	vertical-align: text-top;
// 	width: 96%;
// 	margin: 0 0 0 0.5%;
// 	padding: 0 0 0.5em;
// }

// [type="checkbox"] + .label-wrapper,
// [type="radio"] + .label-wrapper {
// 	float: left;
// 	display: inline;
// 	text-align: left;
// 	width: 94%;
// 	margin-left: 2%;
// 	padding-bottom: 0.5em;
// }

textarea {
	width: 100%;
	box-sizing: border-box;
	line-height: $base-lineheight;
}

legend.label + [type="checkbox"] {
	margin: 0.5em 0 0;
}

select {
	width: inherit;

	-moz-appearance: none;    // Firefox 40+
	-webkit-appearance: none; // Chrome 45+
	appearance: none;

	&::-ms-expand {
		display: none;        // Edge 12+, Internet Explorer 11-
	}

	&::-ms-value {
		color: currentColor;  // Edge 12+, Internet Explorer 11-
	}
}

option {
	padding: 0;
}

.btn-toolbar {
	@extend %cf;

	> [type="reset"] {
		float: left;
		margin-bottom: 0;
	}

	> [type="submit"] {
		float: right;
		margin-bottom: 0;
	}
}

.error {

	input,
	select,
	&.custom-select {
		box-shadow: 0 0 0 1px $color-alert;
		border-color: $color-alert;
		border-radius: 0;

		@if($old-ie) {
			outline: 1px solid $color-alert;
		}
	}
}
