.browsehappy {
	margin: 0.2em 0;
	background: #cccccc;
	color: #000000;
	padding: 0.2em 0;
}

.ir {
	@include image-replace();
}

[hidden],
.hidden,
.is-hidden {
	display: none !important; /* stylelint-disable-line */
	visibility: hidden;
}

.vh,
.visuallyhidden {
	@include vh();
}

.unvh {
	@include vh(reset);
}

.invisible {
	visibility: hidden;
}

.clearfix,
.cf {
	@extend %clearfix;
}

textarea {
	resize: vertical;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.is-relative {
	position: relative;
}

.highlight {
	color: $color-highlight;
}
