@charset "UTF-8";

@if $old-ie==false {
	@viewport {
		width: device-width;
	}
	// fix WP8 viewport bug
	@include breakpoint(max-width 400px) {
		@-ms-viewport { /* stylelint-disable-line */
			width: 320px;
		}
	}
}

@if $responsive {

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
main,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

html {
	box-sizing: border-box;
	font-size: $base-fontsize;
	font-family: $font-main;
	font-weight: 400;
	height: 100%;
	line-height: $base-lineheight;
	background-color: $color-bg;
	color: $color-text;

	@if $responsive {
		@if $old-ie == false {
			overflow-x: hidden;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
		}
	}

	@if $old-ie == false {
		@media only screen and (orientation: landscape), (orientation: portrait) {
			-webkit-text-size-adjust: 100%; /* stylelint-disable-line */
			-ms-text-size-adjust: 100%; /* stylelint-disable-line */
		}
	}

	@if $webfont {

		&.wf-active {
			font-family: $webfont-main, $font-main;
		}
	}
}

body {
	margin: 0;
	height: 100%;
}

a {
	color: inherit;
	background-color: transparent;
	text-decoration: none;

	@if $responsive {
		-webkit-tap-highlight-color: rgba($color-brand1, 0.3);
	}

	// &:visited {
	// 	color: $color-link;
	// }

	&:hover {
		color: $color-linkH;
		text-decoration: underline;
	}

	&:focus {
		color: $color-linkF;
	}

	&:active {
		color: $color-linkA;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&[href^="tel"] {
		color: $color-text;
	}

	&[href^="http"]:empty::before {
		content: attr(href);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;

	> a {
		color: $color-link;
		font-size: 1em;
		text-decoration: none;
	}
}

h1 {
	@include font($font-alternate, $h1-fontsize, 400);

	color: inherit;// $color-h1;
	margin-bottom: 0;
}

h2 {
	@include font($font-alternate, $h2-fontsize, 400);

	color: inherit;// $color-h2;
	margin-bottom: 0;
}

h3 {
	@include font($font-alternate, $h3-fontsize, 400);

	color: inherit;// $color-h3;
	margin-bottom: 0.15em;
}

h4 {
	@include font($font-main, $h4-fontsize, 400);

	color: inherit;// $color-h4;
	margin-bottom: 0.25em;
}

h5 {
	@include font($font-main, $h5-fontsize, 400);

	color: inherit;// $color-h5;
	margin-bottom: 0.25em;
}

h6 {
	@include font($font-alternate, $h6-fontsize, 400);

	color: $color-h6;
}

abbr[title] {
	border-bottom: 1px dotted;

	@supports (text-decoration: dotted underline) {
		border-bottom: none;
		text-decoration: dotted underline;
	}
}

b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 1em em($indent-amount, $base-fontsize);
}

dfn {
	font-style: italic;
}

hr {
	box-sizing: content-box;
	height: 0;
}

mark {
	background: $color-mark;
	color: $black;
}

p,
pre {
	margin: 0 0 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl,
menu,
ol,
ul {
	margin: 0 0 1em;
}

dd {
	margin: 0 0 0 em($indent-amount, $base-fontsize);
}

nav ul,
nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: 0;
	margin: 0; // fixes image stretching in flexbox columns
	vertical-align: bottom; //remove gap under image

	@if $responsive {
		height: auto;
		max-width: 100%;
	}
}

svg {
	overflow: visible;
	max-height: 100%;
	max-width: 100%;

	&:not(:root) {
		overflow: hidden;
	}
}

::selection {
	background: $color-text;
	color: white;
}

figure {
	margin: 0;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	appearance: button;

	// reset button bg and radius in FF for Android
	border-radius: 0;
	background-image: none;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input,
select {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td,
th {
	padding: 0;
}
