%clearfix,
%cf {

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

%ir {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

%vh {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;

	&.focusable {

		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
			white-space: inherit;
		}
	}
}

%devh {
	clip: initial;
	height: auto;
	margin: 0;
	width: auto;
	overflow: initial;
	position: static;
}

%list-reset,
%reset-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

%center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: $page-max;
}

%cropped-text {
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

// will reset buttons styles

%reset-button {
	appearance: button;
	border: none;
	padding: 0;
	cursor: pointer;
	overflow: visible; // removes padding in IE

	// reset button bg and radius in FF for Android
	border-radius: 0;
	background-image: none;

	&::-moz-focus-inner {
		// removes padding in Firefox
		border: none;
		padding: 0;
	}
}

%transform-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

%transform-center-left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

%transform-center-right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
