---
title: Index

---
{{!--
<div class="newwrapper">
	<div class="newmainheader">.mainheader</div>
	<div class="newcontent">.content</div>
	<div class="newpanel">.panel</div>
	<div class="newmainfooter">.mainfooter</div>
</div>
 --}}
{{!--
<div class="grid-container">
	<div class="item item1">1</div>
	<div class="item item2">2</div>
	<div class="item item3">3</div>
	<div class="item item4">4</div>
	<div class="item item5">5</div>
	<div class="item item6">6</div>
	<div class="item item7">7</div>
	<div class="item item8">8</div>
</div>
 --}}
{{!-- <div class="wrapper">
	<div class="box a">.a</div>
	<div class="box b">.b</div>
	<div class="box c">.c</div>
	<div class="box d">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ipsam accusamus nihil est laudantium hic.</div>
</div>
 --}}
 {{!--
<div class="bs-grid">
	<div class="col1">col 1</div>
	<div class="col2">col 2</div>
	<div class="col3">col 3</div>
	<div class="col4">col 4</div>
	<div class="col5">col 5</div>
	<div class="col6">col 6</div>
	<div class="col7">col 7</div>
	<div class="col8">col 8</div>
	<div class="col9">col 9</div>
	<div class="col10">col 10</div>
	<div class="col11">col 11</div>
	<div class="col12">col 12</div>
</div>
 --}}

<div class="bs-grid1">
	<div class="col-xs-12 col-md-6 col-lg-9"><span class="xs">.col-xs-12</span> <span class="md">.col-md-6</span> <span class="lg">.col-lg-9</span></div>
	<div class="col-xs-12 col-md-6 col-lg-3"><span class="xs">.col-xs-12</span> <span class="md">.col-md-6</span> <span class="lg">.col-lg-3</span></div>
</div>

{{!-- <div class="bs-grid2">
	<header>header</header>
	<main>main</main>
	<aside>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</aside>
	<footer>footer</footer>
</div>
 --}}

{{!-- <div class="bs-grid3">
	<div class="col1">col 1</div>
	<div class="col2">col 2</div>
	<div class="col3">col 3</div>
	<div class="col4">col 4</div>
	<div class="col5">col 5</div>
</div> --}}

{{!-- <article class="bs-grid3 demo-styling">
	<header class="headline">
		<h1>Lorem ipsum dolor sit amet, ut labore et dolore magna aliqua.</h1>
	</header>
	<div class="image-wrapper">
		<img src="" alt="">
	</div>
	<div class="text-block">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="image-teaser">
		<img src="" alt="ad" class="ad">
	</div>

	<div class="text-block">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>


	<div class="text-block">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</article> --}}
{{!--
<div class="grid3">
	<header>header</header>
	<main>main</main>
	<aside>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</aside>
	<footer>footer</footer>
</div> --}}

{{!-- <div class="grid">
	<div class="grid__header">Header</div>
	<div class="grid__sidebar">Sidebar</div>
	<div class="grid__content">Main Content</div>
	<div class="grid__extra">Extra Content</div>
	<div class="grid__footer">Footer</div>
</div> --}}

{{!-- <div class="grid4">
  <div class="grid4__header">Header</div>
  <div class="grid4__content">Main Content</div>
  <div class="grid4__extra">Extra Content</div>
  <div class="grid4__sidebar">Sidebar</div>
  <div class="grid4__footer">Footer</div>
</div> --}}

{{!--
<div class="module">

	<h2 class="module__heading">
		<span class="module__kicker">kicker</span>
		<span class="module__headline">headline</span>
	</h2>

	<div class="module__image">
		<img src="https://source.unsplash.com/random/320x180" alt="">
	</div>

	<p class="module__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

	<div class="module__buttonbar">
		<a class="module__btn" href="">link text</a>
	</div>

</div>
 --}}
