/* Layout
 * ===================================================================
 */
.container {
	@extend %clearfix;
	min-height: 100%;
	margin: 0 auto;
	max-width: $page-max;
	overflow-x: hidden;
	position: relative;

	@include old-ie {
		min-width: $page-max;
	}
}

//header
[role="banner"] {

}

// content
[role="main"] {

}

// aside
[role="complemetary"] {

}

// navigation
[role="navigation"] {

}

//footer
[role="contentinfo"] {

}

.content {

}
