// links & buttons

%button-base {
	border-radius: $radius;
	border: none;
	display: inline-block;
	text-decoration: none;
	padding: .25em 1em;
}


.link-more {

}

.link-totop {

}

.link-back {

}

.link-to-navigation {

}

a[href$=".pdf"]::after {content: " (PDF)"; }
