@import "vendor/singularitygs";      // include sigularity grid framework
@import "vendor/breakpoint";         // include breakpoint framework

// variables
@import "variables";

// base
@import "base/mixins";          // Default project mixins
@import "base/normalize";       // CSS normalize.css reset
@import "base/helpers";         // helper classes
@import "base/defaults";        // Default project config options
@import "base/placeholders";    // placeholders
@import "modules/icons";        // icon fonts
@import "base/forms_default";   // form defaults

// layout
@import "partials/layout";      // layout
@import "partials/links";       // link styling (more link, etc.)
@import "partials/navigations"; // navigations

// modules
@import "modules/modules";      // modules


// DEBUG MODE
$debug: false;
@import "base/debug";           // debug CSS
@import "base/revenge";         // revenge CSS


// MediaQuery-Sync
head {
	@include breakpoint($tiny) {
		font-family: tiny-1;
	}
	@include breakpoint($small) {
		font-family: small-2;
	}
	@include breakpoint($medium) {
		font-family: medium-3;
	}
	@include breakpoint($large) {
		font-family: large-4;
	}
	@include breakpoint($xlarge) {
		font-family: xlarge-5;
	}
	@include breakpoint($xxlarge) {
		font-family: xxlarge-6;
	}
	@include breakpoint($huge) {
		font-family: huge-7;
	}
}
